<a href="https://colab.research.google.com/github/1713BhaskarDasari/jntua/blob/master/Day10(31_1_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
l1=[3,9,8,2,3,8]
print(max(l1))
print(min(l1))
print(sum(l1))
print(sum(l1)/len(l1))

9
2
33
5.5

In [15]:
l1=[2,4,7,5,2,9]
#l1.append(4)
#l1.insert(2,8)
#print(l1.index(4))
#print(l1)
#l1.sort()
#print(l1)
#print(l1.index(2))
#print(l1.count(4))
#l1.pop()
print(l1)
l1.pop(1)
print(l1)

[2, 4, 7, 5, 2, 9]
[2, 7, 5, 2, 9]

In [22]:
#using function find the large number from the list
l=[40,53,43,63,24]
print(l)
l.sort()
print(l)
def large(l):
  l.sort()
  return l[-1]
print(large(l))
def genericLarge(l,n):
  l.sort()
  return l[-n]
print(genericLarge(l,2))

[40, 53, 43, 63, 24]
[24, 40, 43, 53, 63]
63
53

In [24]:
#using function find the small and generic small number from the list
l=[40,53,43,63,24]
def small(l):
  l.sort()
  return l[0]
print(small(l))
def genericSmall(l,n):
  l.sort()
  return l[n-1]
print(genericSmall(l,3))

24
43

#TUPLES
-