<a href="https://colab.research.google.com/github/1713BhaskarDasari/jntua/blob/master/Day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mark Down
## Mark Down
### Mark Down
####Mark Down
#####Mark Down

**Points**

*points*

***Points***

In [1]:
print("hello,jntua")
print("hello,Jntua","|||","CHemical","|||","CSE","|||","MCA")

hello,jntua
hello,Jntua ||| CHemical ||| CSE ||| MCA

#ASSIGNMENT

In [2]:
n1=100 #single variable assignment
print(n1)
a=b=c=10 #multiple variable assigment with same value
print(a,b,c)
a1,b1,c1=100,200,300  #multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

#Data Type and Conversions

*   int

*   float

*   string

In [0]:
a=100
s1=10.2
s2="python"
print(type(a),type(s1),type(s2))

In [4]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

#Reading input from the user-- input function

In [8]:
b=input(" Enter ur name")
print(b)
print(type(b))
a=int(b)
print(type(a))

 Enter ur name15
15
<class 'str'>
<class 'int'>

#Arithmetic operator
+

-

*

/

%

//

In [11]:
a=1234
print(a+10) #Addition
print(a-10) #Subtraction
print(a*10) #Multiplication
print(a%10) #Modulo
print(a/10) #Division
print(a//10) #Floor
print(a**10) #Power
c=8
print(c**2)

1244
1224
12340
4
123.4
123
8187505353567209228244052427776
64

# Relational Operator
- =
- ==
* >
- <
- !=
- >=
- <=

In [12]:
x=10
a1=x>15
print(a1)

False

#Logical Operator
- and
- or
- not

In [16]:
i=100
a= i>15 and i<800
a1= i>15 and i>800
a2= i>15 or i>800
a3= i<15 or i<800
a4= i<15 or i>800
l=not 10
print(a,a1,a2,a3,a4,l)

True False True True False False

#Control flow statements
-conditional statements
-looping statements

#if-else statements
#Syntax
#if Boolean_condition :
Statements

#else:
statements

In [19]:
# to check whether a number is even or odd
n=int(input("Enter a number"))
if n%2 == 0 :
  print(n,"is a even number")
else :
  print(n,"is a odd number")

Enter a number9
9 is a odd number

In [27]:
# To check a number is perfectly multiple of 3 and 5
n=int(input("Enter a number"))
if n%3 == 0 and n%5 == 0 :
  print(n,"is perfectly multiple of 3 and 5")
else :
  print(n,"is not perfectly multiple of 3 and 5")

Enter a number45
45 is perfectly multiple of 3 and 5

In [33]:
# to check the number is positive or negative
n=int(input("enter a number:"))
if n<0 :
  print(n,"is negative number")
elif n==0:
  print("0 is neither positive or negative")
else:
  print(n,"is positive number")

enter a number:-78
-78 is negative number

In [31]:
#to find the largest of three numbers
n=int(input("Enter n"))
a=int(input("Enter a"))
b=int(input("Enter b"))
if n>a and n>b:
  print(n,"is largest of",a,"and",b)
elif a>b:
  print(a,"is largest of",n,"and",b)
else :
  print(b,"is largest of",a,"and",n)

Enter n34
Enter a35
Enter b67
67 is largest of 35 and 34

In [34]:
#check whether a given year is leap year or not
n=int(input("Enter a year"))
if(n%4==0):
  if(n%100==0):
    if(n%400==0):
      print(n,"is a leap year")
    else:
      print(n,"is not a leap year")
  else:
    print(n,"is a leap year")
else :
  print(n,"is not a leap year")

Enter a year2000
2000 is a leap year